@import "tailwindcss";

body{
font-family:sans-serif;
background:#0f172a;
color:white;
margin:0;
}

.container{
max-width:700px;
margin:auto;
padding:20px;
}

.title{
text-align:center;
font-size:40px;
margin-bottom:40px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:16px;
margin-bottom:30px;
}

.photo{
width:100%;
border-radius:12px;
margin-top:10px;
}

.timelineItem{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:15px;
}

.proposal{
text-align:center;
margin-top:60px;
}

.yesBtn{
background:#22c55e;
border:none;
padding:15px 30px;
border-radius:10px;
font-size:18px;
margin-right:10px;
}

.noBtn{
background:#ef4444;
border:none;
padding:15px 30px;
border-radius:10px;
font-size:18px;
}

.map{
text-align:center;
margin-bottom:40px;
}

.line{
stroke-dasharray:600;
stroke-dashoffset:600;
animation:draw 3s forwards;
}

@keyframes draw{
to{stroke-dashoffset:0}
}

@media(max-width:600px){

.title{
font-size:30px
}

.card{
padding:18px
}

}